# Sigma Computing API credentials
# Get these from: Sigma > Administration > Developer Access > Create new API client
SIGMA_BASE_URL=https://aws-api.sigmacomputing.com
SIGMA_CLIENT_ID=
SIGMA_CLIENT_SECRET=
